<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operation</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    </style>
</head>
<body>
    <header class="w3-container w3-teal w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Welcome to Base Convert!</h1>
    <p class="w3-xlarge"><image src="static/images/logo.png" alt="Logo" height = "200" width = "200"></p>
    <p class="w3-xlarge">Operation:</p>
    <p class="w3-xlarge">    
        <form method='POST' id = "operation">
            <input id="num_1" name="num_1" form="operation" type="text" placeholder="Number" style="width:50%">
                <label for="base_1"> base:</label>
                <select id="base_1" name="base_1" form="operation">
                    <option value=10>Dec</option>
                    <option value=2>Bin</option>
                    <option value=16>Hex</option>
                    <option value=8>Oct</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3 </option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    <option value=11>11</option>
                    <option value=12>12</option>
                    <option value=13>13</option>
                    <option value=14>14</option>
                    <option value=15>15</option>
                    <option value=16>16</option>
                    <option value=17>17</option>
                    <option value=18>18</option>
                    <option value=19>19</option>
                    <option value=20>20</option>
                    <option value=21>21</option>
                    <option value=22>22</option>
                    <option value=23>23</option>
                    <option value=24>24</option>
                    <option value=25>25</option>
                    <option value=26>26</option>
                    <option value=27>27</option>
                    <option value=28>28</option>
                    <option value=29>29</option>
                    <option value=30>30</option>
                    <option value=31>31</option>
                    <option value=32>32</option>
                    <option value=33>33</option>
                    <option value=34>34</option>
                    <option value=35>35</option>
                    <option value=36>36</option>
                </select>
            </p>
            <p>
                <select id="operation" name="operation" form="operation">
                    <option value="^">^</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                    <option value="+">+</option>
                    <option value="-">-</option>
                </select>
            </p>
            <p>
                <input id="num_2" name="num_2" form="operation" type="text" placeholder="Number" style="width:50%">
                <label for="base_2"> base:</label>
                <select id="base_2" name="base_2" form="operation">
                    <option value=10>Dec</option>
                    <option value=2>Bin</option>
                    <option value=16>Hex</option>
                    <option value=8>Oct</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3 </option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    <option value=11>11</option>
                    <option value=12>12</option>
                    <option value=13>13</option>
                    <option value=14>14</option>
                    <option value=15>15</option>
                    <option value=16>16</option>
                    <option value=17>17</option>
                    <option value=18>18</option>
                    <option value=19>19</option>
                    <option value=20>20</option>
                    <option value=21>21</option>
                    <option value=22>22</option>
                    <option value=23>23</option>
                    <option value=24>24</option>
                    <option value=25>25</option>
                    <option value=26>26</option>
                    <option value=27>27</option>
                    <option value=28>28</option>
                    <option value=29>29</option>
                    <option value=30>30</option>
                    <option value=31>31</option>
                    <option value=32>32</option>
                    <option value=33>33</option>
                    <option value=34>34</option>
                    <option value=35>35</option>
                    <option value=36>36</option>
                </select>
        </p>
        <p>
            <label for="base_3">Result base:</label>
            <select id="base_3" name="base_3" form="operation">
                <option value=10>Dec</option>
                <option value=2>Bin</option>
                <option value=16>Hex</option>
                <option value=8>Oct</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3 </option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                <option value=13>13</option>
                <option value=14>14</option>
                <option value=15>15</option>
                <option value=16>16</option>
                <option value=17>17</option>
                <option value=18>18</option>
                <option value=19>19</option>
                <option value=20>20</option>
                <option value=21>21</option>
                <option value=22>22</option>
                <option value=23>23</option>
                <option value=24>24</option>
                <option value=25>25</option>
                <option value=26>26</option>
                <option value=27>27</option>
                <option value=28>28</option>
                <option value=29>29</option>
                <option value=30>30</option>
                <option value=31>31</option>
                <option value=32>32</option>
                <option value=33>33</option>
                <option value=34>34</option>
                <option value=35>35</option>
                <option value=36>36</option>
            </select>
        </p>
        <p>
            <input class="w3-button w3-black w3-padding-large w3-large w3-margin-top" type='submit' value='Submit'/>
        </p>
        </form> 

</body>
</html>